	<ion-view view-title=" Contact" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-contact" class="page-contact">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css" />
<div class="container">
     <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p><b> Email us and keep upto date with our latest news:</b> </p>
          </br>
          
       
          <i class="fa fa-map-marker"></i><span class="form-info">tutorfinds,Vivekananda Marg, Near Kalpana Square, Bhubaneswar, PIN-751014, Odisha, India</span><br>
      <i class="fa fa-phone"></i><span class="form-info">Mob:+91-9437101721</span><br>
      <i class="fa fa-envelope"></i><span class="form-info">Email:info@findatutor.co.in</span><br>
          
          <div class="social-media">
            <p>Connect with us :</p>
            <div class="social-icons">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fa fa-google-plus"></i>
                <a href="#">
                <i class="fa fa-linkedin"></i>
                  <a href="#">
                <i class="fa fa-youtube"></i>
              </a>
                 
            </div>
          </div>
            </div>
     
        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form>
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              
              <input type="text" name="name" class="input" />
              <label for="name">Username</label>
              <span>Username</span>
            </div>
            <div class="input-container textarea">
              <input type="email" name="email" class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input" >
              <label for="">Phone</label>
              <span>Phone</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
              <label for="">Message</label>
              <span>Message</span>
            </div>
            <input type="submit" value="Send" class="btn" />
          </form>
        </div>
      </div>
    </div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
