	<ion-view view-title=" Terms and conditions" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-terms_and_conditions" class="page-webview page-terms_and_conditions">
		</br>
<p><u>Terms and Conditions</u></p>

<p>These are the terms and condition</p>

 <p>Findatutor apps takes your privacy seriously. We know you trust us to help with your homework and we want you to know that you can trust us with your personal information.</p>

<p>Effective Date: January 15, 2018</p>

<p><u>Why We Need Your Personal Information</u></p>

<p>Findatutor apps Direct is personal, and one-to-one. So, we need to collect some personal information from you to set up your account with us.</p>

<p>Here are some of the things we need your personal information to be able to do:</p>

<p>1.Contact you about your account</p>
<p>2.Send you newsletters by mail or email about our service</p>
<p>3.Ask you for your feedback to help make our service better</p>
<p>4.Respond to your email requests for information and/or customer service</p>
<p>You trust us with your Personal Information. So, we do everything we can to make sure your information is safe in our systems.</p>

<p>Some things we will NOT do are:</p>

<p>1.We WILL NOT sell your personal information to anyone</p>
<p>2.We WILL NOT send you newsletters or promotional mail or email if you tell us not to</p>

<p><u>You and Your Parents Control Your Personal Information</u></p>

<p>You can visit the Your Account section of this website anytime to see personal information we have collected about you, and you can tell us if you want to receive any promotional mail or email from us.</p>

<p>If you are under age 13, a law called the Children's Online Privacy Protection Act (COPPA) says that we must have a parent's permission before we may collect and use your Personal Information. We will need this permission before we are able to create an account for you or provide you with any tutoring.</p>

<p><u>We Share Your Personal Information With Those Who Pay For Your Account and With Those Vendors Who Help Us Process Transactions</u></p>

<p>If your parents and/or your school pay for/subsidize any of your tutoring, we may share your Personal Information with them at their request. This may include the content of any (or all) of your tutoring sessions (transcripts) as well as the written comments you leave in post-session surveys. For the purposes of our Privacy Policy, your school is considered to be subsidizing your tutoring if it has negotiated a special price or trial offer for its students. On the other hand, if you pay us for your own account, without the involvement of your parents or your school, we will not share your Personal Information with them.</p>

<p>We share your personal information with the vendors (companies) that help us process transactions, such as charging your credit card when you make purchases. Any such sharing is always done subject to a legal agreement that requires them to keep your personal information strictly confidential.</p>

<p><u>We May Share Your Personal Information For Safety or Legal Reasons</u></p>

<p>If we have reason to believe that disclosing your Personal Identification is required by law, is reasonable to protect someone from possible injury, or as part of a internal or external legal investigation, we may do so.</p>

<p><u>Cookies</u></p>

<p>Cookies are files that your Web browser puts on your computer when you visit a Web site. We use cookies to tell us how often you visit our site, and what pages you go to on our site. Sometimes we use files from other companies (called third-party cookies) to help us see where people go on our website, to improve our services and the performance of our advertising. Unless you give us permission, the cookies we use do not store any personally identifying information. For example, If you choose the option to “remember my email address” on our login page, we will store the information we need to identify you on your next visit in a cookie on your computer.</p>

<p>We use third-party advertising companies to serve ads when you visit our Website. These companies may use information (not including your name, address email address or telephone number) about your visits to this and other Web sites in order to provide advertisements about goods and services of interest to you.</p>

<p><u>Links to Other Sites</u></p>

<p>Sometimes, we link to other sites. Findatutor.co.in  does not make these sites, and we can't be responsible for what they post on their sites.</p>

<p><u>Changes to this Policy</u></p>

<p>We will occasionally update this Privacy Policy. When we post changes to this Privacy Policy, we will revise the “effective” date at the top of this Privacy Policy. We recommend that you check our website from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.</p>

<p><u>Contacting the Website</u></p>

<p>If you have any questions, comments or concerns about Findatutor apps 's privacy policy, you can <a ui-sref="findtutors.contact" style="color:blue"><u><b>Contact us.</b></u></a></p>

                 

		</ion-content>
		<!-- ./content -->
	</ion-view>
