	<ion-view view-title=" Science" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-science" class="page-webview page-science">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="main.css">
<button type="button" class="block" style="width:320px;height:40px;">     
                                                                                          
          <a href="#/findtutors/home"><i class="fa fa-home"></i></a>
          <a href="#/findtutors/science"> <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>science</a>
          <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span></a>
        </button>
<main>
<h1 style="font-size:20px;color:red"><u>Courses In Science (4)</u></h1>
        <div class="singleBlog">
          <img src="data/images/images/physics.png" alt="">
          <div class="blogContent">
            <h3>PHYSICS</h3>
            <p>17% off | Price:2,150</p>
            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>

          </div>
          </div>
           <div class="singleBlog">
          <img src="data/images/images/chem.jpg" alt="">
          <div class="blogContent">
            <h3>CHEMISTRY</h3>
            <p> 10% off | Price:1,750</p>
            <p>Use Promo Code: <span class="promo">FAT250</span></p>
            <p class="expire" style="color:red">Expires: Feb 10, 2021</p>
         <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
        <div class="singleBlog">
          <img src="data/images/images/lo.jpg" alt="">
          <div class="blogContent">
            <h3>BIOLOGY</h3>
            <p>Very low price</p> 
            <p class="price">
            <span class="price-new">
              <span class="WebRupee">Price:</span>
                1,840/-
              </span>
              <s><span class="price-old">
                 <span class="WebRupee">Price:</span>
                3,000/-
                </span></s>
            </p>
          <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
        <div class="singleBlog">
          <img src="data/images/images/ma.jpg" alt="">
          <div class="blogContent">
            <h3>MATHEMATICS</h3>
            <p> 12% off | Price:1,950</p>
           <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
  <h4 style="color:red">You have reached end of the list.</h4>
 </br>
   </br>
 </br>
</main>
		</ion-content>
		<!-- ./content -->
	</ion-view>
