	<ion-view view-title=" Institute institute" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-institute_institute" class="page-webview page-institute_institute">
		<div class="card">
  <img src="data/images/images/inst.jpg" alt="Avatar" style="width:40%;height:50%;border-radius: 50%;">
    <h4><b>Institute Institute</b></h4> 
  <hr>
  <p>Hello</p> 
<hr>
 <p>Year of establishment:</p>
 <p>Language of Teaching:</p>
  <p>Teaching class types:Academic, Non Academic</p>
  </div>
<div>
  <hr>
    <h4 style="color:red"><b>Send us Your Message:</b></h4>
  <hr>
   <input type="text" id="name" placeholder="Name*" style="width:100%; padding:5px; margin-bottom:10px;">
      <select id="select course" style="width:100%; padding:5px; margin-bottom:10px;" >
  <option value="vo">select course*</option>
  <option value="sa">C++</option>
  <option value="da">History</option>
  <option value="ra">Civics</option>
  <option value="oa">Hindi</option>
  <option value="pa">English</option>
  <option value="la">Programming in C</option>

  </select>
   <input type="text" id="email" placeholder="Email*" style="width:100%; padding:5px; margin-bottom:10px;">
      <input type="text" id="phone" placeholder="Phone*" style="width:100%; padding:5px; margin-bottom:10px;">
     <textarea rows="2" cols="100" name="comment" form="usrform">My message is........*</textarea>
  </br>
  <p>We will never sell or rent your private info.</p>
  <p><b>Credits required for sending message:10</b></p>

  <center><button id="myBtn" onclick="myFunction()">Send Message</button> </center> 
  </br>
<h4 style="color:red"><b>More details:</b></h4>
  <hr>
<p>Institute offering courses:C++,History,Civics,Hindi,English,Programming in C</p>
</br>
<p>Tutoring locations of institute:</p>
<p>Bhubaneswar</p>
</br>
<p>Career Experience:</p>
<p>experienceeee
  <h4 style="color:red"><b>Reserve Your Slot</b></h4>
  <hr>
<h5>Select Course:</h5>
  <select id="select course" style="width:100%; padding:5px; margin-bottom:10px;" >
  <option value="vo">select course</option>
  <option value="sa">C++</option>
  <option value="da">History</option>
  <option value="ra">Civics</option>
  <option value="oa">Hindi</option>
  <option value="pa">English</option>
  <option value="la">Programming in C</option>

  </select>
</br>
<h5>Select Batch:</h5>
<select id="select course" style="width:100%; padding:5px; margin-bottom:10px;" >
  <option value="vo">select course first</option>
   </select>
</br>
<h5>Write Your Message:</h5>
     <textarea rows="4" cols="50" name="comment" form="usrform">Hello I am...</textarea>
</br>

  <center><button id="myBtn" onclick="myFunction()">Enroll in this batch</button> </center> 

   </div> 
</br>
</br>
		</ion-content>
		<!-- ./content -->
	</ion-view>
