	<ion-view view-title=" Dashboard" hide-nav-bar="true" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
		<video autoplay muted loop id="myVideo">
  <source src="data/video4.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<div class="design">
  <h2 class="glow">WELCOME </h2>
<h2 class="glow">TO </h2>
  <h2 class="glow">FIND-A-TUTOR</h2>
 
<div class="app-icon" style="background: url('data/images/images/find.png') center;"></div>
  <p><b>We will occasionally update this Privacy Policy. When we post changes to this Privacy Policy, we will revise the “effective” date at the top of this Privacy Policy. We recommend that you check our apps from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.</b></p>
  </br>

  <center> <button id="myBtn" onclick="myFunction()"><a ui-sref="findtutors.form_login">GET STARTED</a></button></center>
  </br>
</br>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
