	<ion-view view-title=" Engineering" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-engineering" class="page-webview page-engineering">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="main.css">
<button type="button" class="block" style="width:320px;height:40px;">     
                                                                                          
          <a href="#/findtutors/home"><i class="fa fa-home"></i></a>
          <a href="#"> <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>engineering</a>
          <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span></a>
        </button>
<main>
<h1 style="font-size:20px;color:red"><u>Courses In Engineering (7)</u></h1>
        <div class="singleBlog">
          <img src="data/images/images/concrete.jpg" alt="">
          <div class="blogContent">
            <h3>Concrete Technology</h3>
            <p>17% off | Price:2,150</p>
            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
          </div>
           <div class="singleBlog">
          <img src="data/images/images/cm.jpg" alt="">
          <div class="blogContent">
            <h3>Construction Managment</h3>
            <p> 10% off | Price:1,950</p>
         <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
        <div class="singleBlog">
          <img src="data/images/images/mat.jpg" alt="">
          <div class="blogContent">
            <h3>Matlab</h3>
            <p> 15% off | Price:1,950</p>
          <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
         <div class="singleBlog">
          <img src="data/images/images/iri.jpg" alt="">
          <div class="blogContent">
            <h3>Irrigation</h3>
            <p> 15% off | Price:1,950</p>
          <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
         <div class="singleBlog">
          <img src="data/images/images/water.jpg" alt="">
          <div class="blogContent">
            <h3>Water Supply</h3>
            <p> 15% off | Price:1,950</p>
          <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
         <div class="singleBlog">
          <img src="data/images/images/ardu.jpg" alt="">
          <div class="blogContent">
            <h3>Arduion</h3>
            <p> 15% off | Price:1,950</p>
          <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
         <div class="singleBlog">
          <img src="data/images/images/ct.jpg" alt="">
          <div class="blogContent">
            <h3>Construction Technology</h3>
            <p>15% off | Price:1,950</p>
          <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>

          </div>
           </div>
            <h4 style="color:red">You have reached end of the list.</h4>
  </br>
 </br>
 </br>
  </main>
 


               
		</ion-content>
		<!-- ./content -->
	</ion-view>
