	<ion-view view-title=" Competition" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-competition" class="page-webview page-competition">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="main.css">
<button type="button" class="block" style="width:320px;height:40px;">     
                                                                                          
          <a href="#/findtutors/home"><i class="fa fa-home"></i></a>
          <a href="#"> <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>competition</a>
          <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span></a>
        </button>
<main>
<h1 style="font-size:20px;color:red"><u>Courses In Competition (9)</u></h1>
        <div class="singleBlog">
          <img src="data/images/images/n.jpg" alt="">
          <div class="blogContent">
            <h3>NEET Coaching</h3>
            <p>17% off | Price:2,150</p>
            <p>Use Promo Code: <span class="promo">FAT100</span></p>
            <p class="expire" style="color:red">Expires: Jul 03, 2021</p>
            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
          </div>
           <div class="singleBlog">
          <img src="data/images/images/s.jpg" alt="">
          <div class="blogContent">
            <h3>SSC Coaching</h3>
            <p> Very low price</p> 
            <p class="price">
            <span class="price-new">
              <span class="WebRupee">Price:</span>
                1,950/-
              </span>
              <s><span class="price-old">
                 <span class="WebRupee">Price:</span>
                5,000/-
                </span></s>
            </p>
         <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
        <div class="singleBlog">
          <img src="data/images/images/ias.png" alt="">
          <div class="blogContent">
            <h3>IAS Coaching</h3>
            <p> 15% off | Price:1,950</p>
          <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
        <div class="singleBlog">
          <img src="data/images/images/nda.jpg" alt="">
          <div class="blogContent">
            <h3>NDA Coaching</h3>
            <p> 12% off | Price:1,950</p>
           <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
        <div class="singleBlog">
          <img src="data/images/images/ups.jpg" alt="">
          <div class="blogContent">
            <h3>UPSC Coaching</h3>
            <p> 13% off | Price:1,930</p>
         <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
        <div class="singleBlog">
          <img src="data/images/images/oas.png" alt="">
          <div class="blogContent">
            <h3>OAS Coaching</h3>
            <p> 11% off | Price:1,200</p>
            <p>Use Promo Code: <span class="promo">FAT98</span></p>
            <p class="expire" style="color:red">Expires: Aug 09, 2021</p>
           <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
             <a ng-href="#/findtutors/buy_course" class="btn"> <i class="fa fa-heart"></i></a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
        <div class="singleBlog">
          <img src="data/images/images/at.jpg" alt="">
          <div class="blogContent">
            <h3>SAT Coaching</h3>
            <p> 12% off | Price:1,450</p>
           <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
        <div class="singleBlog">
          <img src="data/images/images/je.jpg" alt="">
          <div class="blogContent">
            <h3>IIT-JEE Coaching</h3>
            <p> 10% off | Price:1,999</p>
            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
        <div class="singleBlog">
          <img src="data/images/images/po.jpg" alt="">
          <div class="blogContent">
            <h3>BANK PO</h3>
            <p> Very low price</p> 
            <p class="price">
            <span class="price-new">
              <span class="WebRupee">Price:</span>
                1,249/-
              </span>
              <s><span class="price-old">
                 <span class="WebRupee">Price:</span>
                2,000/-
                </span></s>
            </p>
            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
  <h4 style="color:red">You have reached end of the list.</h4>
 </br>
   </br>
 </br>
</main>
		</ion-content>
		<!-- ./content -->
	</ion-view>
