	<ion-view view-title=" Find Course" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-course" class="page-course">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="width: 100%;height:100%;">
		<ion-slide-box class="ion-slide-tabs" slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
			<ion-slide ion-slide-tab-label="Courses" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ui-sref="findtutors.computer" >
                             <i class="icon ion-android-desktop" ></i>

								<h2>Computer</h2>
								<span class="item-note pull-left">All Computer Course Available</span>
							</a>
							<a class="item item-icon-left" ui-sref="findtutors.commerce">
								<i class="icon ion-ios-book" ></i>
								<h2>Commerce</h2>
								<span class="item-note pull-left">All Commerce Course Available</span>
							</a>
							<a class="item item-icon-left" ui-sref="findtutors.competition" >
                            <i class="icon ion-android-walk" ></i>

								<h2>Competition</h2>
								<span class="item-note pull-left">All Competition Course Available</span>
                              
							</a>
                          <a class="item item-icon-left" ui-sref="findtutors.science" >
                            <i class="icon ion-beaker" ></i>

								<h2>Science</h2>
								<span class="item-note pull-left">All Science Course Available</span>
                              
							</a>
                           <a class="item item-icon-left" ui-sref="findtutors.social_science" >
                            <i class="icon ion-ios-people" ></i>

								<h2>Social Science</h2>
								<span class="item-note pull-left">All Social Science Course Available</span>
                              
							</a>
                           <a class="item item-icon-left" ui-sref="findtutors.language" >
                            <i class="icon ion-ios-bookmarks" ></i>

								<h2>Language</h2>
								<span class="item-note pull-left">All Language Course Available</span>
                              
							</a>
                          <a class="item item-icon-left" ui-sref="findtutors.engineering" >
                            <i class="icon ion-ios-calculator" ></i>

								<h2>Engineering</h2>
								<span class="item-note pull-left">All Engineering Course Available</span>
                              
							</a>
             
                          
						</div>
					</ion-content>
			</ion-slide>
            </ion-slide-box>
   <button class="button button-block button-calm" ui-sref="findtutors.all_courses">View All</button>
	
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
