	<ion-view view-title=" Computer" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-computer" class="page-webview page-computer">
		    
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="main.css">
 <button type="button" class="block" style="width:320px;height:40px;">     
                                                                                          
          <a href="#/findtutors/home"><i class="fa fa-home"></i></a>
          <a href="#"> <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>computer</a>
          <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span></a>
        </button>
<main>
  <h3 style="font-size:20px;color:red"><u>Course In Computer(8)</u></h3>
        <div class="singleBlog">
          <img src="data/images/images/cl.png" alt="">
          <div class="blogContent">
            <h3>C++</h3>
            <p> Very low price</p> 
            <p class="price">
            <span class="price-new">
              <span class="WebRupee">Price:</span>
                4,999/-
              </span>
              <s><span class="price-old">
                 <span class="WebRupee">Price:</span>
                25,000/-
                </span></s>
            </p>
            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>


          </div>
        </div>
        <div class="singleBlog">
          <img src="data/images/images/css.png" alt="">
          <div class="blogContent">
            <h3>HTML/CSS</h3>
            <p>50% offer | Price:3,000/-
           
    <p>Use Promo Code: <span class="promo">FAT232</span></p>
    <p class="expire" style="color:red">Expires: Jan 03, 2021</p>

            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>

          </div>
        </div>
<div class="singleBlog">
          <img src="data/images/images/php.jpg" alt="">
          <div class="blogContent">
            <h3>PHP</h3>
            <p>40% off | Price:3,149</p>
             <p>Use Promo Code: <span class="promo">FAT148</span></p>
            <p class="expire" style="color:red">Expires: Oct 06, 2021</p>

            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
  <div class="singleBlog">
          <img src="data/images/images/ardu.jpg" alt="">
          <div class="blogContent">
            <h3>ARDUION</h3>
            <p> Very low price</p> 
            <p class="price">
            <span class="price-new">
              <span class="WebRupee">Price:</span>
                3,149/-
              </span>
              <s><span class="price-old">
                 <span class="WebRupee">Price:</span>
                18,000/-
                </span></s>
            </p>
            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
  <div class="singleBlog">
          <img src="data/images/images/mat.jpg" alt="">
          <div class="blogContent">
            <h3>MATLAB</h3>
            <p>40% off | Price:3,000</p>
            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
    <div class="singleBlog">
          <img src="data/images/images/j.jpg" alt="">
          <div class="blogContent">
            <h3>JAVA</h3>
            <p>20% off | Price:2,149</p>
            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
             <a ng-href="#/findtutors/buy_course" class="btn"> <i class="fa fa-heart"></i></a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
  <div class="singleBlog">
          <img src="data/images/images/c.jpg" alt="">
          <div class="blogContent">
            <h3>Programming in C</h3>
            <p>10% off | Price:1,100</p>
            <p>Use Promo Code: <span class="promo">FAT120</span></p>
            <p class="expire" style="color:red">Expires: Sep 01, 2021</p>
            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>

          </div>
        </div>
  
    <div class="singleBlog">
          <img src="data/images/images/cf.jpg" alt="">
          <div class="blogContent">
            <h3>Computer Fundamental</h3>
            <p>15% off | Price:2,278</p>
            <a ng-href="#/findtutors/buy_course" class="btn">Buy Course</a>
            <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>

          </div>
        </div>
       <h4 style="color:red">You have reached end of the list.</h4>
 </br>
   </br>
 </br>
</main>             
                    
		</ion-content>
		<!-- ./content -->
	</ion-view>
