	<ion-view view-title=" About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="style.css">
 <img src="data/images/images/choose1.jpg" style="width:300px;height:150px;">
<center><h2 style="color:blue"><b><u> Why Choose Us</u></b></h2>
  <div><p style="color:white"><b>E</b>ducation is the primary requirement for all in the modern society. In India, thousands of schools are available for quality education but only school is not enough to provide the requirements of competitive world where everyone wants to excel in their career by securing good marks. That is the reason for which parents and students are dependent on private tutors. Of course we are talking about quality tutors and coaching centres!!!!!</p></div>
  <h4 style="color:blue"><u>Variety of Subjects</u></h4>
 <div><p style="color:white"> From Algebra, Calculus and Statistics to English, Chemistry and Physics. Social Science and Computer, too.</p></div>
  <h4 style="color:blue"><u>Exceptional tutors.</u></h4>
 <div><p style="color:white"> We only accept the best from thousands of applicants, so you can choose from the widest range of qualified experts.</p></div>
<h4 style="color:blue"><u>But the question arises that how to find out a good tutor or coaching centre at your convenient location ??????</u></h4>
<div><p style="color:white">FindaTutor is an initiative to bridge this gap. It endeavours to spread the wings of education and skills to those to whom excellence matters. FindaTutor is a great online service that provides an organized platform to unstructured market of tuitions and expert professional training providers, both individuals and institutes to connect students and teachers. We make an effort to ensure that we encourage and attract the talented, highly enthusiastic and extremely passionate tutors to join the platform and contribute to the needs of serious students. This means the students are not only able to get best learning experience but also the support required to achieve their potential and goals.We at FindaTutor offer a comprehensive range of categories like computer education, Physics, Chemistry, Mathematics, Social Science, Language and many other.</p></div>

<section class="team">
  	 
  	 	  <h1><u>Our Expert</u></h1>
       <h4 style="color:white"><u> Meet all our Experts</u></h4>
       <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="data/images/images/bhupesh.jpeg" alt="team img" />
  	 	  	  	  <h4>Bhupesh Deka</h4>
  	 	  	  	  <h5> Project Manager</h5>
  	 	  	  	      <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-twitter"></span></a>
                                   <a href=""><span class="fa fa-linkedin"></span></a>
                                   <a href=""><span class="fa fa-youtube"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="data/images/images/sita.jpg" alt="team img" />
  	 	  	  	  <h4>Sitanath Biswas</h4>
  	 	  	  	  <h5> Project Manager</h5>
  	 	  	  	      <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-twitter"></span></a>
                                   <a href=""><span class="fa fa-linkedin"></span></a>
                                   <a href=""><span class="fa fa-youtube"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="data/images/images/deba.jpg" alt="team img" />
  	 	  	  	  <h4>Debaprasad Panda</h4>
  	 	  	  	  <h5>Lead Developer</h5>
  	 	  	  	  
                                  <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-twitter"></span></a>
                                   <a href=""><span class="fa fa-linkedin"></span></a>
                                   <a href=""><span class="fa fa-youtube"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="data/images/images/sarfa.jpg" alt="team img" />
  	 	  	  	  <h4>Sarfaraz Allam Khan</h4>
  	 	  	  	  <h5>Designer</h5>
  	 	  	  	   <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-twitter"></span></a>
                                   <a href=""><span class="fa fa-linkedin"></span></a>
                                   <a href=""><span class="fa fa-youtube"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="data/images/images/malaya.jpg" alt="team img" />
  	 	  	  	  <h4>Malaya Ranjan Das</h4>
  	 	  	  	  <h5>Designer</h5>
                <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-twitter"></span></a>
                                   <a href=""><span class="fa fa-linkedin"></span></a>
                                   <a href=""><span class="fa fa-youtube"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	<div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="data/images/images/biju.jpeg" alt="team img" />
  	 	  	  	  <h4>Bijay Krushna Das</h4>
  	 	  	  	  <h5>Designer</h5>
                <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-twitter"></span></a>
                                   <a href=""><span class="fa fa-linkedin"></span></a>
                                   <a href=""><span class="fa fa-youtube"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  <div class="disable-user-behavior about-us-box">
     
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="positive icon ion-social-facebook"></i>
        <p style="color:white">Like Us on Facebook</p>
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="assertive icon ion-social-googleplus"></i>
        <p style="color:white">Join us on Google+</p>
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="calm icon ion-social-twitter"></i>
        <p style="color:white">Follow me on Twitter</p>
      </a>
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="assertive icon ion-social-youtube"></i>
        <p style="color:white">Follow me on YouTube</p>
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mail://info@findatutor.co.in')" >
        <i class="icon ion-android-mail royal"></i>
         <p style="color:white">For Business Cooperation</p>
        <p>
            Email: info@findatutor.co.in
        </p>
      </a>
      </br>
  </br> 
    </div>
  </section>
		</ion-content>
		<!-- ./content -->
	</ion-view>
