	<ion-view view-title=" Vikram keshari rout" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-vikram_keshri_rout" class="page-webview page-vikram_keshri_rout">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="data/images/images/dee.jpg" alt="Avatar" style="width:50%;height:50%;border-radius: 50%;">
  
  <h4><b>Vikram Keshari Rout</b></h4>
  <p style="color:red"><u>Male,47 Years</u></p>
  <p><i class="fa fa-map-marker" aria-hidden="true"></i>Bhubaneswar, India</p>
  <p>Best English tutor in Bhubaneswar</p>
 
  <p>Experience: 22 Years</p>
 <p>Qualification: M. Phil (English), Ph.D*</p>
  <p>Language of Teaching:English,Hindi,Odia</p>
  <p>Teaching class types:Academic</p>
 </div>                
<div>
  <hr>
    <h4 style="color:red"><b>Send Me Your Message:</b></h4>
  <hr>
      <input type="text" id="name" placeholder="Name*" style="width:100%; padding:5px; margin-bottom:10px;">
      <select id="select course" style="width:100%; padding:5px; margin-bottom:10px;" >
  <option value="volvo">select course*</option>
  <option value="saab">English</option>
  </select>
   <input type="text" id="email" placeholder="Email*" style="width:100%; padding:5px; margin-bottom:10px;">
      <input type="text" id="phone" placeholder="Phone*" style="width:100%; padding:5px; margin-bottom:10px;">
     <textarea rows="2" cols="100" name="comment" form="usrform">My message is........*</textarea>
  </br>
  <p>We will never sell or rent your private info.</p>
  <p><b>Credits required for sending message:10</b></p>

  <center><button id="myBtn" onclick="myFunction()">Send Message</button> </center> 
  </br>

    <h4 style="color:red"><b>More About Me</b></h4>
  <hr>
<p>Tutoring Courses: English</p>
<p>Tutoring Locations: Bhubaneswar, Nayapali, Bhubaneswar</p>
<p>Career Experience: 22+ years experience in English teaching</p>
</br>
 <h4 style="color:red"><b>Reserve Your Spot</b></h4>
  <hr>
<h5>Select A Course:</h5>
 <select id="select course" style="width:100%; padding:5px; margin-bottom:10px;" >
  <option value="volvo">select course*</option>
  <option value="saab">English</option>
  </select>
</br>
<h5>Select Preffered Location:</h5>

  <input type="radio" name="id" value="institute"> Institute
  <input type="radio" name="id" value="home"> Home
</br>
<h5>Select Date:</h5>
      <input type="date" id="date" placeholder=" Start Date" style="width:100%; padding:5px; margin-bottom:10px;">

</br>
<h5>Select time-slot:</h5>
<p>Please Select Course And Date First</p>
</br>
<h5>Write Your Message:</h5>
     <textarea rows="4" cols="50" name="comment" form="usrform">Hello My name is Diana and....</textarea>
</br>

  <center><button id="myBtn" onclick="myFunction()">Request This Tutor</button> </center> 

   </div> 
</br>
</br>

		</ion-content>
		<!-- ./content -->
	</ion-view>
